@page "/review/createreview"
@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<CreateReview> logger
@inject ReviewStateContainer reviewState
@inject NavigationManager navigation
@using Microsoft.AspNetCore.Authorization

@*@attribute [Authorize] *@

<h3>Create Review</h3>

<EditForm Model="review" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary class="row alert alert-danger" id="ValidationSummary" />
    </div>
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="review.Name" class="form-control" id="Name" />
                <label for="Name">Name </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="review.Surname" class="form-control" id="Surname" />
                <label for="Surname">Surname </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="review.Country" class="form-control" id="Country" />
                <label for="Country">Country </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="review.DriverType" class="form-control" id="DriverType">
                    <option value="">Seleccione tipo de conductor</option>
                    <option value="Novato">Novato</option>
                    <option value="Experto">Experto</option>
                </InputSelect>
                <label for="DriverType">Tipo de conductor</label>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            @*this button will be used to ask the user if he want to proceed to review the cars*@
            <button class="btn btn-primary" type="submit" id="Submit">
                Review your cars
            </button>
        </div>
    </div>

    <h4>Review Detail</h4>
    <p>
        <button class="btn btn-outline-primary" type="button" @onclick="ModifyReviewItems" id="ModifyCar">
            Modify cars
        </button>
    </p>
    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfReviewItems">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>FuelType</th>
                    <th>Manufacturer</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
    @*@foreach (var item in review.ReviewItems)
    {
        @{
            var safeModel = item.Model.Replace(" ", "_");
        }

        <tr id="@($"CarData_{safeModel}")">
            <td>@item.Model</td>
            <td>@item.FuelType</td>
            <td>@item.Manufacturer</td>
            <td>@item.Color</td>
            <td>
                <InputText @bind-Value="item.Description"
                           class="form-control"
                           id="@($"description_{safeModel}")" />
            </td>
            <td>
                <InputNumber @bind-Value="item.Rating"
                             class="form-control"
                             id="@($"rating_{safeModel}")" />
            </td>
        </tr>
        *@
    }
</tbody>

        </table>
    </div>
</EditForm>

@if (DialogIsOpen)
{
    <Dialog Caption="Review cars"
            Message="Do you want to proceed to rent the selected cars?"
            OnClose="@OnDialogClose"
            Type=Dialog.Category.SaveNot>
    </Dialog>
}



@code {

    private ReseñarForCreateDTO review => reviewState.Review;
    private bool DialogIsOpen;
    private object? errors;
    private string messageError = "";
    private bool hideErrors { get { return messageError.Length == 0; } }
    private bool reviewButtonDisabled;

    private void ModifyReviewItems()
    {
        navigation.NavigateTo("/review/select");
    }

    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    review.UserName = user.Identity.Name;
                }
            }
            review.Name = review.Name == null ? "" : review.Name;
            review.Surname = review.Surname == null ? "" : review.Surname;
            review.UserName = review.UserName == null ? "" : review.UserName;

        }
    }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }
    private async Task OnDialogClose(bool isOk)
    {
        DialogIsOpen = false;
        if (isOk)
        {
            if (review.ReviewItems.Count > 0)
            {
                try
                {
                    review.UserName = string.IsNullOrWhiteSpace(review.Name)
                        ? "Invitado"
                        : review.Name;

                    var reviewed = await apiclient.CreateReviewAsync(review);
                    reviewState.ReviewProcessed();
                    navigation.NavigateTo($"/review/details/?ReviewID={reviewed.Id}");
                }
                catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
                {
                    if (apiexceptionvalidation.Result?.Errors?.Values != null)
                    {
                        messageError = "";

                        foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                        {
                            messageError = string.Join("(*) ", messageError, string.Join(" (*) ", errors));
                        }
                    }
                }
                catch (ApiException apiException)
                {
                    messageError = apiException.Response ?? apiException.Message;
                }
            }
        }
    }





}